.custom-text-right {
	float: right;
}

.custom-text-left {
	float: left;
}

.custom-red-font {
	color: red;
}

.custom-input {
	height: 11px;
	margin-bottom: 10%;
}

.custom-margin {
	margin: 20px;
}

.custom-border-bottom {
	border-bottom: 1px solid gray;
}

.custom-font-color {
	color: white;
}

.custom-movie-title-font {
	font-size: 25px;
	font-weight: bold;
}

.custom-input-size {
	width: 30%;
}

.custom-input-size-phone {
	width: 20%;
}


.custom-sg-title{
	background: lightgray;
	display: flow-root;
    padding-left: -10px;
	padding-top : 10px;
    padding-bottom : 10px;
}

.custom-sg-font{
	font-size: 20px;
	font-weight: 800;
}

.custom-sg-font2{
	margin-right: 20px;
	font-size: 15px;
	font-weight: 700;
}

.custom-my-auto {
	position: relative;
	top: 7px;
}

.custom-input-size-login {
	height: 11px;
	margin-bottom: 15%;
	width: 90%;
}

.custom-input-color {
	background-color: #F6F6F6;
}


.custom-border-left {
	padding-left: 5%;
	border-left: 2px solid gray;
}

.custom-login-button {
	width: 100%;
	height: 80%;
}



.custom-button {
	width: 23%;
}

.custom-mypage-menu {
	margin-top: 10px;
	padding-left: 30px;
	width: 50%;
}

.custom-mypage-menu-position {
	position: relative;
	right: 25px;
}

.unorderd-list
li {
	margin: 7px;
}

.unorderd-list
li:hover {
	margin: 7px;
	text-decoration: underline;
	text-underline-position: under;
}

.custom-active {
	text-decoration: underline;
	text-underline-position: under;
}

.custom-col-md {
	width: 100%;
	margin-left: 90%;
	margin-top: 40%;
}

.custom-container {}

.modal-backdrop {

	z-index: -1;

}

.custom-input-color{
	background-color: beige;
}

.custom-table-align{
	text-align: center;
}

.custom-table-size table tr th{
	width: 250px;
}

.custom-table-size2 {
	width: 0px;
	position: relative;
	right: 50px;
}

.custom-table-margin{
	margin-top: 30px;
	margin-left: 30px;
}

.custom-table-margin2{
	margin-top: 30px;
	margin-left: 100px;
}

.custom-margin-suggest{
	margin-right: 5%;
}

 
@media (max-width: 767px) {
	.custom-mobile{
		width: 400px;
		position: relative;
		right: 60px;
	}
	
	.custom-th-size4{
		width: 400px;
		font-size: 0.9em;
		position: relative;
		right: 70px;
	}
	
	.custom-th-size3{
		width: 550px;
		font-size: 0.9em;
		position: relative;
		right: 45%;
	}
}

.custom-margin-sg-reg{
	margin-right: 1%;
}

.custom-sg-pw-input{
	height: 30px;
}

.custom-sg-get-left{
	float: left;
}

.custom-sg-get-right{
	margin-right: 10px;
	float: right;
}

.custom-notice2{
	width: 100%;
}

.custom-pagination{
	width: 300px;
}

.custom-margin-choi{
	margin-right: 3%;
}

.searchModal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.search-modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */
}