<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtms.mapper.commentReportMapper">
	<select id="getTotalCount" resultType="int">
	
	</select>
	
	<select id="getListWithPaging" resultType="com.mtms.domain.CommentReportVO">
	
	</select>
	
	<delete id="delete">
	
	</delete>
	
	<select id="read" resultType="com.mtms.domain.CommentReportVO">
	
	</select>
	
	<insert id="insert">
	
	</insert>
</mapper>