<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtms.mapper.GiftMapper">
	<insert id="insertSelectKey">
	
	</insert>
	
	<select id="getList" resultType="com.mtms.domain.GiftVO">
	
	</select>
	
	<select id="read" resultType="com.mtms.domain.GiftVO">
	
	</select>
	
	<update id="update">
	
	</update>
	
	<delete id="delete">
	
	</delete>
</mapper>