<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.mtms.mapper.GiftMapper">
	<!-- 기프티콘 등록하기 -->
	<insert id="insertSelectKey">
	  	<selectKey keyProperty="giftNo" order="BEFORE" resultType="int">
	  		select seq_gift.nextval from dual
	  	</selectKey>
	  		insert into gift (giftNo, giftName, giftPrice, giftSet) values(#{giftNo}, #{giftName}, #{giftPrice}, #{giftSet})
	  </insert>
	
	<!-- 기프티콘 조회 -->
	<select id="getList" resultType="com.mtms.domain.GiftVO">
		<![CDATA[select * from gift where giftNo > 0]]>
	</select>
	
	<select id="read" resultType="com.mtms.domain.GiftVO">
		select * from gift where giftNo = #{giftNo}
	</select>
	
	<update id="update">
	
	</update>
	
	<delete id="delete">
	
	</delete>
</mapper>