<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtms.mapper.LostMapper">
 <sql id="criteria">
      	<trim prefix="(" suffix=") AND  " prefixOverrides="OR">
            <foreach item='type' collection="typeArr">
               <trim prefix="OR">
                  <choose>
                     <when test="type =='T'.toString()">
                        lostTitle like '%'||#{keyword}||'%'
                     </when>
                     <when test="type =='C'.toString()">
                        lostContent like '%'||#{keyword}||'%'
                     </when>
                     <when test="type =='W'.toString()">
                     </when>
                  </choose>
               </trim>
            </foreach>
         </trim>
        </sql>


	<select id="getTotalCount" resultType="int">
	<![CDATA[
     	SELECT COUNT(*) FROM lost WHERE  
     	 ]]>
      <include refid="criteria"></include>
     <![CDATA[   
     	lostNo > 0 
     ]]>
	</select>
	
	<select id="getListWithPaging" resultType="com.mtms.domain.LostVO">
		<![CDATA[
			SELECT
			lostNo,lostTitle,lostContent,lostDate,lostView
			from 
				(
				select /*+INDEX_DESC(review PK_review )*/
				rownum rn,lostNo,lostTitle,lostContent,lostDate,lostView
				from 
				lost
				where
				 ]]> 
      	
      	<!-- 보관해 둔 쿼리 사용 -->
      	<include refid="criteria"></include>
      
      <![CDATA[ 
            rownum <= #{pageNum} * #{amount}
            ) WHERE rn > (#{pageNum} - 1) * #{amount}
      ]]> 
	</select>
	
	
	
<insert id="insert">
  	INSERT INTO lost(lostNo,lostTitle,lostContent)
	VALUES(seq_lost.NEXTVAL, #{lostTitle}, #{lostContent})
  </insert>
	
	<update id="update">
		update lost
		set lostTitle = #{lostTitle},
			lostContent = #{lostContent}
			where lostNo = #{lostNo}
	</update>
	
	<delete id="delete">
		delete  from lost where lostNo = #{lostNo}
	</delete>
	
	<select id="read" resultType="com.mtms.domain.LostVO">
		select * from lost where lostNo = #{lostNo}
	</select>
	
	<update id="updateView">
		update lost
		set lostView = lostView+1
		where lostNo = #{lostNo}
	</update>
</mapper>