<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mtms.mapper.MemberMapper">
	<select id="read" resultType="com.mtms.domain.MemberVO">
	
	</select>
	
	<insert id="insert">
		INSERT INTO 
			member 
		VALUES(#{memberId}, #{memberPw}, #{memberName},
				#{memberAddress},#{memberPhoneFirst},#{memberPhoneSecond},
				#{memberPhoneThird}, #{memberBirth}, #{memberEmail},
				#{memberEmailSecond})
	</insert>
	
	<select id="selectId" resultType="com.mtms.domain.MemberVO">
	
	</select>
	
	<update id="updatePw">
	
	</update>

	<select id="getMemberList" resultType="com.mtms.domain.MemberVO">
	
	</select>
	
	<select id="getMember" resultType="com.mtms.domain.MemberVO">
	
	</select>
	
	<delete id="deleteMember">
	
	</delete>
	
	<update id="updateMember">
	
	</update>
</mapper>