<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtms.mapper.MovieMapper">
<!-- 	<select id="getTotalCount" resultType="int"> -->
	
<!-- 	</select> -->
	
<!-- 	<select id="getListWithPaging" resultType="com.mtms.domain.MovieVO"> -->
		
<!-- 	</select> -->
	
<!-- 	<update id="update"> -->
	
<!-- 	</update> -->
	
<!-- 	<delete id="delete"> -->
	
<!-- 	</delete> -->
	
<!-- 	<select id="read" resultType="com.mtms.domain.MovieVO"> -->
	
<!-- 	</select> -->
	
<!-- 	<insert id="insert"> -->
	
<!-- 	</insert> -->
	
	<select id="getMovieName" resultType="com.mtms.domain.MovieVO">
		SELECT movieNo, movieTitle FROM movie WHERE movieTitle LIKE '%'||#{movieName}||'%'
	</select>
	
	<select id="getMovie" resultType="String">
      SELECT movieTitle FROM movie WHERE movieNo = #{movieNo}
   </select>
	
	
</mapper>