<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtms.mapper.MyGiftMapper">
	 <insert id="myInsertSelectKey">
	  	<selectKey keyProperty="myGiftNo" order="BEFORE" resultType="int">
	  		SELECT seq_mygift.nextval FROM dual
	  	</selectKey>
	  		INSERT INTO myGift VALUES(#{memberId}, #{giftNo}, #{myGiftNo}, 0 , SYSDATE, SYSDATE + (INTERVAL '1' MONTH), 0)
	  </insert> 
	

 	<resultMap type="com.mtms.domain.GiftVO" id="Gift">
		<result column="giftNo" property="giftNo" />
		<result column="giftName" property="giftName" />
		<result column="giftPrice" property="giftPrice" />
		<result column="giftSet" property="giftSet" />
	</resultMap>
	
	<resultMap type="com.mtms.domain.MyGiftVO" id="MyGift">
		<result column="memberId" property="memberId" />
		<result column="giftNo" property="giftNo" />
		<result column="myGiftNo" property="myGiftNo" />
		<result column="status" property="status" />
		<result column="buyingDate" property="buyingDate" />
		<result column="expireDate" property="expireDate" />
		<result column="extendChk" property="extendChk" />
		<collection property="giftList" resultMap="Gift"/>
	</resultMap>
	
	
	<select id="getListWithPaging" resultMap="MyGift">
		<![CDATA[SELECT rn, giftNo, giftName, giftPrice, memberId, myGiftNo, expireDate, status, extendChk 
				 FROM (SELECT rownum rn, gift.giftNo, gift.giftName, gift.giftPrice, myGift.memberId, myGift.myGiftNo,
  							    myGift.expireDate, myGift.status, myGift.extendChk
					   FROM gift, myGift
    				   WHERE rownum <= #{pageNum} * #{amount} AND gift.giftNo = myGift.giftNo AND memberId = 'jj')
				 WHERE rn > (#{pageNum}-1) * #{amount}]]>
	</select>
	
	<select id="read" resultMap="MyGift">
		SELECT gift.giftNo, gift.giftName, gift.giftPrice, gift.giftSet, myGift.memberId, myGift.mygiftNo, 
			   myGift.buyingDate, myGift.expireDate, myGift.status, myGift.extendChk 
		FROM gift, myGift 
		WHERE myGift.mygiftNo = #{myGift.mygiftNo} AND gift.giftNo = myGift.giftNo AND memberId = myGift.memberId
	</select>
	
	<update id="extend">
		UPDATE myGift
		SET expireDate = SYSDATE + (INTERVAL '1' MONTH),
			extendChk = 1
		WHERE myGiftNo = #{myGiftNo} AND memberId = 'jj'
	</update>
	
	<update id="refund">
		UPDATE myGift
		SET status = 2,
			expireDate = '',
			extendChk = 2
		WHERE myGiftNo = #{myGiftNo} AND memberId = 'jj'
	</update>
	
	<!-- <delete id="delete">
		DELETE FROM myGift WHERE myGiftNo = #{myGiftNo} AND memberId = 'jj'
	</delete> -->
	
	<select id="getTotalCount" resultType="int">
		<![CDATA[SELECT count(*) FROM myGift WHERE mygiftNo > 0 ]]>	
	</select>
	
	<update id="expireChk">
	<![CDATA[UPDATE myGift 
			 SET status = 1,
    			extendChk = 1
			 WHERE to_char(expireDate, 'yy/MM/dd') <= #{expireDate} AND memberId = 'jj']]>
	</update>
	
</mapper>