<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtms.mapper.MyReviewMapper">
	<select id="getTotalCount" resultType="int">
	  <![CDATA[
     	SELECT COUNT(*) FROM review WHERE    
     	reviewNo > 0 
     ]]>
   </select>

<select id="getListWithPaging" resultType="com.mtms.domain.ReviewVO">
	      <![CDATA[
			 SELECT 
            c.movieTitle,
           c.reviewNo,
           c.memberId,
           c.movieNo,
           c.reviewTitle,
           c.reviewContent,
           c.reviewView,
           c.reviewDate
    from 
        (
       select /*+INDEX_DESC(review PK_review )*/
                rownum rn,
                    b.movieTitle,
                       a.reviewNo,
                       a.movieNo,
                        a.memberId,
                       a.reviewTitle,
                       a.reviewContent,
                       a.reviewView,
                       a.reviewDate
                       
        from review a,
             movie b
        where
      		a.movieNo = b.movieNo  and memberId = #{memberId}
           and rownum <= #{cri.pageNum} * #{cri.amount}
            )c
             WHERE c.rn > (#{cri.pageNum} - 1) * #{cri.amount} 
             order by c.reviewDate desc
      ]]> 
   </select>
</mapper>