<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtms.mapper.ReviewMapper">

  <sql id="criteria">
      	<trim prefix="(" suffix=") AND  " prefixOverrides="OR">
            <foreach item='type' collection="typeArr">
               <trim prefix="OR">
                  <choose>
                     <when test="type =='T'.toString()">
                        reviewTitle like '%'||#{keyword}||'%'
                     </when>
                     <when test="type =='C'.toString()">
                        reviewContent like '%'||#{keyword}||'%'
                     </when>
                     <when test="type =='W'.toString()">
                        memberId like '%'||#{keyword}||'%'
                     </when>
                  </choose>
               </trim>
            </foreach>
         </trim>
        </sql>




<select id="getTotalCount" resultType="int">
	  <![CDATA[
     	SELECT COUNT(*) FROM review WHERE    
     ]]>
      <include refid="criteria"></include>
     <![CDATA[ 
     	reviewNo > 0 
     ]]>
   </select>

<select id="getListWithPaging" resultType="com.mtms.domain.ReviewVO">
		<![CDATA[
			 SELECT 
            c.movieTitle,
           c.reviewNo,
           c.memberId,
           c.movieNo,
           c.reviewTitle,
           c.reviewContent,
           c.reviewView,
           c.reviewDate
    from 
        (
       select /*+INDEX_ASC(review PK_review )*/
                rownum rn,
                    b.movieTitle,
                       a.reviewNo,
                       a.movieNo,
                        a.memberId,
                       a.reviewTitle,
                       a.reviewContent,
                       a.reviewView,
                       a.reviewDate
                       
        from review a,
             movie b
        where
				
      ]]> 
      	
      	<!-- 보관해 둔 쿼리 사용 -->
      	<include refid="criteria"></include>
      
      <![CDATA[ 
      		a.movieNo = b.movieNo     
           and rownum <= #{pageNum} * #{amount}
            )c
             WHERE c.rn > (#{pageNum} - 1) * #{amount}
      ]]> 
   </select>



	 <update id="update">
    UPDATE 	review 
    SET		reviewTitle = #{reviewTitle}, 	reviewContent = #{reviewContent}
    WHERE 	reviewNo = #{reviewNo}
  </update>
  
  <delete id="delete">
    DELETE review WHERE reviewNo = #{reviewNo}
  </delete>
  
  <select id="read" resultType="com.mtms.domain.ReviewVO">
    SELECT * FROM review WHERE reviewNo = #{reviewNo}
  </select>
  
  <insert id="insertSelectKey">
  	<selectKey keyProperty="reviewNo" order="BEFORE" resultType="int">
  		SELECT seq_review.NEXTVAL FROM dual
  	</selectKey>
  
  	 INSERT INTO review(reviewNo, reviewTitle, reviewContent, movieNo,memberId)
	VALUES(#{reviewNo}, #{reviewTitle}, #{reviewContent},#{movieNo},#{memberId})
  </insert>
  
  <insert id="insert">
  	INSERT INTO review(reviewNo, reviewTitle, reviewContent)
	VALUES(seq_review.NEXTVAL, #{reviewTitle}, #{reviewContent})
  </insert>

<!--   <select id="getList" resultType="org.zerock.domain.ReviewVo"> -->
<!--   <![CDATA[ -->
<!--     SELECT * FROM review WHERE reviewNo > 0 -->
<!--   ]]> -->
<!--   </select> -->
  <update id="updateView">
	UPDATE review
	SET reviewView = reviewView+1
	where reviewNo = #{reviewNo}
	</update>
	<update id="updateReplyCnt">
   		UPDATE review
   		SET replycnt = replycnt + #{amount} where reviewNo = #{reviewNo}
   </update>
   <select id="movieSelect" resultType="com.mtms.domain.ReviewVO">
   	select m.movieTitle
		from review r,movie m
		where r.movieNo = m.movieNo and reviewNo = #{reviewNo}
   </select>
</mapper>

