.hanna_head {
	padding: 50px;
/* 	background-size: cover; */
/* 	background-position: center center; */
	text-align: center;
	padding: 100px 0 100px 0;
}

.hanna_head h3 {
	font-size: 60px;
	color: #000;
	font-weight: 400;
	margin-bottom: 0;
	text-transform: capitalize;
	font-family: fontawesome;
}

.schedule_item {
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    overflow : hidden;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.schedule_item .schedule_item_date {
	width : 80px;
	height : 80px;
	position: relative;
	float : left;
	left: 10px;
	margin : 10px;
	display: block;
	color: #fff;
	background-color: pink;
	padding: 8px 8px;
	border-radius: 3px;
}

.hanna_li{
	margin: 7px;
}

.hanna_li:hover{
	margin: 7px;
/* 	border-bottom: 2px solid pink; */
}

.hanna_li:hover a {
	color : pink;
}

.hanna_add_time {
	width : 70px;
	height : 25px;
	float : left;
	margin-left : 8px;
}

.schedule_item .schedule_item_date h3 {
	font-size: 22px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0;
	line-height: 1.2;
}

.schedule_item .schedule_item_date p {
	font-size: 18px;
	margin-bottom: 0;
	color: #000;
}

.hanna_container {
/* 	border : 1px solid gray; */
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    padding-top : 20px;
    padding-bottom : 20px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    display : table;
}

.hanna_text_center {
	text-align : center;
}

.hanna_schedule_movie {
	float : left;
	border : 1px solid pink;
	border-radius: 20px;
	display: inline-block;
	outline: none;
	line-height: 40px;
	padding: 0 30px;
	font-size: .8em;
	text-align: center;
	font-weight: 500;
	cursor: default;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.hanna_schedule_screen {
	display: inline-block;
	outline: none;
	line-height: 40px;
	padding: 0 30px;
	font-size: .8em;
	text-align: center;
	font-weight: 1000;
	cursor: default;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.hanna_schedule_time_wrap {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top : 10px;
    padding-bottom : 50px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.hanna_schedule_time {
	float : left;
	width : 90px;
	padding : 10px;
	text-align : center;
	font-weight: 1000;
	cursor : default;
}

.hanna_button {
	float : left;
	border-radius: 20px;
	display: inline-block;
	outline: none;
	line-height: 40px;
	padding: 0 30px;
	font-size: .8em;
	text-align: center;
	font-weight: 500;
	cursor: cursor;
	margin-left : 10px;
	
	color: #fff;
	background: pink;
	border: 1px solid transparent;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.delete_button {
	background : #ff4a4f;
}

.hanna_button:hover {
	color: pink;
	border: 1px solid pink;
	background: #fff;
}

.hanna_input {
	display: block;
	width: 40%;
	line-height: 40px;
	border: none;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px;
	float : left;
}

.hanna_ul_list li{
	position : relative;
	padding-left : 30px;
	line-height : 1.82em !important;
	cursor : pointer;
}

.hanna_ul_list li:before {
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	border: 3px solid pink;
	background: #fff;
	top: 4px;
	left: 0;
	border-radius: 50%
}

.hanna_button2 {
	background: pink;
	color: #fff;
	display: inline-block;
	padding: 0 30px;
	line-height : 40px;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	font-weight: 400;
	border: 0;
	border: 1px solid pink;
	border-radius: 20px;
	letter-spacing: 3px;
	text-align: center;
	color: #fff !important;
	text-transform: uppercase;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	cursor: pointer;
}

.hanna_button3 {
	background: pink;
	color: #fff;
	display: inline-block;
	padding: 3px 3px;
	line-height : 3px;
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	font-weight: 400;
	border: 0;
	border: 1px solid pink;
	border-radius: 20px;
	letter-spacing: 3px;
	text-align: center;
	color: #fff !important;
	text-transform: uppercase;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	cursor: pointer;
}

.hanna_seat {
	margin : 0 auto;
	padding-left : 50px;
}

.reserve_success_pic img {
/* 	border : 3px dotted red; */
	padding-left : 50px;
	width : 300px;
	height : 380px;
}

.reserve_success_pic {
	width : 40%;
	float : left;
/* 	border : 2px solid pink; */
}

.reserve_success_info {
	width : 60%;
	float : right;
/* 	border : 2px dashed pink; */
}

/* .progress-table-wrap { */
/* 	overflow-x: scroll */
/* } */

.hanna_table {
	background: #f9f9ff;
	padding: 15px 0px 30px 0px;
	min-width: 800px;
	text-align : center;
}

.hanna_table .hanna_movie {
	width: 20%;
	text-align : center;
}

.hanna_table .hanna_reserveNo {
	width: 30%;
	text-align : center;
}

.hanna_table .hanna_reserveTime {
	width: 25%;
	text-align : center;
}

.hanna_table .hanna_reserveSeat {
	width: 10%;
	text-align : center;
}

.hanna_table .hanna_reserveStatus {
	width: 15%;
	text-align : center;
}

.hanna_table .table-head {
	display: flex;
	text-align : center;
}

.hanna_table .table-head .hanna_movie,
.hanna_table .table-head .hanna_reserveNo,
.hanna_table .table-head .hanna_reserveTime,
.hanna_table .table-head .hanna_reserveSeat,
.hanna_table .table-head .hanna_reserveStatus {
	color: #415094;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: 500;
	text-align : center;
}

.hanna_table .table-row {
	padding: 15px 0;
	border-top: 1px solid #edf3fd;
	display: flex;
	text-align : center;
}

.hanna_table .table-row .hanna_movie,
.hanna_table .table-row .hanna_reserveNo,
.hanna_table .table-row .hanna_reserveTime,
.hanna_table .table-row .hanna_reserveSeat,
.hanna_table .table-row .hanna_reserveStatus {
/* 	display: flex; */
	align-items: center;
	text-align : center;
}

.hanna_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px
}

/* 좌석 체크박스들 */

.hanna_seat input {
	display : none;
	position : absolute;
}

.hanna_seat input + label {
	display : inline-block;
	width : 15px;
	height : 15px;
	border : 1px solid #f1f1f1;
	position : relative;
	cursor : pointer;
	border-radius : 3px;
}

.hanna_seat input:checked + label {
	background : url(../img/elements/primary-check.png) no-repeat center center/cover;
	border : none;
}

.hanna_seat .reserved_seat + label {
	background: url(../img/elements/success-check.png) no-repeat center center/cover;
	border : none;
	disabled : disabled;
}

/* .reserved_seat{ */
/* 	background: url(../img/elements/success-check.png) no-repeat center center/cover; */
/* } */

.confirm-checkbox {
	width: 16px;
	height: 16px;
	border-radius: 3px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer
}

.confirm-checkbox input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0
}

.confirm-checkbox input + label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #f1f1f1
}

.confirm-checkbox input:checked + label {
	background: url(../img/elements/success-check.png) no-repeat center center/cover;
	border: none
}